body {
    width: 100vw;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
}

.practices-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;

    .practices-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        width: 100%;
        background-color: var(--ternary-color);
        padding: 1rem;
        border-radius: 1rem;

        h3 {
            font-size: 2rem;
            font-weight: 900;
            padding: 1rem;
        }
    }
}
