@property --percentage {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

body {
    width: 100vw;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
}

.subject-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .marks-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: 1rem;
        min-height: 50vh;
        max-height: 50vh;

        .marks-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            width: 100%;
            background-color: var(--ternary-color);
            padding: 0.5rem;
            border-radius: 1rem;

            h2 {
                font-size: 2rem;
                font-weight: 900;
                padding: 1rem;
                padding-left: 1rem;
                width: auto;
            }

            div {
                h3 {
                    font-size: 1.25rem;
                    font-weight: 600;
                }

                h4 {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }

    .success-rate {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-self: flex-end;

        #success-rate-value {
            position: relative;
            transition: --percentage 1s ease-in-out;
            --percentage: 0;
            background: conic-gradient(var(--secondary-color) 0deg,
                    var(--secondary-color) calc(var(--percentage) * 3.6deg),
                    var(--primary-color) calc(var(--percentage) * 3.6deg));
            border-radius: 50%;
            width: 18rem;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                font-size: 4rem;
                font-weight: 800;
                z-index: 1;
            }
        }

        #success-rate-value::before {
            content: "";
            position: absolute;
            width: calc(100% - 6rem);
            aspect-ratio: 1;
            border-radius: 50%;
            background: var(--primary-background);
        }

        h3 {
            font-size: 1.25rem;
            font-weight: 600;
            text-wrap: nowrap;
        }
    }
}

.subject-more {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@media (prefers-reduced-motion: reduce) {

    .success-rate-value {
        transition: none;
    }
}
