body {
    width: 100vw;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    gap: 1.25rem;
    user-select: none;

    img {
        width: 7rem;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 1px solid black;
    }

    div {
        h2 {
            font-size: 2rem;
            font-weight: 700;
        }

        h3 {
            font-size: 1.33rem;
            font-weight: 600;
        }
    }
}

.overview {
    display: grid;
    place-items: center;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);

    .overview-znamky {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 1rem;

        h2 {
            font-size: 2rem;
            font-weight: 900;
        }

        .show-more {
            font-size: 1rem;
            color: var(--quaternary-color);
            font-weight: 600;
            width: 100%;
            text-align: end;
        }

        .overview-znamky-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            padding: 1rem;
            justify-content: center;
            align-items: center;

            .overview-znamky-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                width: 100%;
                background-color: var(--ternary-color);
                padding: 0.5rem;
                border-radius: 1rem;

                h2 {
                    font-size: 2rem;
                    font-weight: 900;
                    padding: 1rem;
                }

                div {
                    h3 {
                        font-size: 1.25rem;
                        font-weight: 600;
                    }

                    h4 {
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    #overview-result {
        position: relative;
        height: 75%;
        display: flex;
        justify-self: flex-end;
        border-radius: 50%;
        aspect-ratio: 1;
        align-items: center;
        justify-content: center;
        background: conic-gradient(var(--secondary-color) 0deg,
                var(--secondary-color) calc(var(--percentage) * 3.6deg),
                var(--primary-color) calc(var(--percentage) * 3.6deg));

        h2 {
            font-size: 3rem;
            font-weight: 900;
            z-index: 1;
        }
    }

    #overview-result::before {
        content: "";
        position: absolute;
        width: calc(100% - 6rem);
        aspect-ratio: 1;
        border-radius: 50%;
        background: var(--primary-background);
    }
}
