@property --percentage {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

body {
    width: 100vw;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    gap: 1.25rem;
    user-select: none;

    img {
        width: 7rem;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 1px solid black;
    }

    div {
        h2 {
            font-size: 2rem;
            font-weight: 700;
        }

        h3 {
            font-size: 1.33rem;
            font-weight: 600;
        }
    }
}

.overview {
    display: grid;
    place-items: center;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);

    .overview-znamky {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 1rem;

        h2 {
            font-size: 2rem;
            font-weight: 900;
        }

        .show-more {
            font-size: 1.25rem;
            color: var(--quaternary-color);
            font-weight: 600;
            width: 100%;
            text-align: end;
        }

        .overview-znamky-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            padding: 1rem;
            justify-content: center;
            align-items: center;

            .overview-znamky-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                width: 100%;
                background-color: var(--ternary-color);
                padding: 0.5rem;
                border-radius: 1rem;

                h2 {
                    font-size: 2rem;
                    font-weight: 900;
                    padding: 1rem;
                }

                div {
                    h3 {
                        font-size: 1.25rem;
                        font-weight: 600;
                    }

                    h4 {
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    #overview-result {
        user-select: none;
        position: relative;
        width: 18rem;
        display: flex;
        justify-self: flex-end;
        border-radius: 50%;
        aspect-ratio: 1;
        align-items: center;
        justify-content: center;
        transition: --percentage 1s ease-in-out;
        --percentage: 0;
        background: conic-gradient(var(--secondary-color) 0deg,
                var(--secondary-color) calc(var(--percentage) * 3.6deg),
                var(--primary-color) calc(var(--percentage) * 3.6deg));

        h2 {
            font-size: 4rem;
            font-weight: 900;
            z-index: 1;
        }
    }

    #overview-result::before {
        content: "";
        position: absolute;
        width: calc(100% - 6rem);
        aspect-ratio: 1;
        border-radius: 50%;
        background: var(--primary-background);
    }
}

.improve {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
        font-size: 2rem;
        font-weight: 900;
    }

    .improve-list {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        justify-content: flex-start;
        align-items: center;

        .show-more {
            font-size: 1.25rem;
            color: var(--quaternary-color);
            font-weight: 600;
            width: 100%;
            padding: 1rem;
        }

        .improve-item {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;

            .improve-item-value {
                position: relative;
                transition: --percentage 1s ease-in-out;
                --percentage: 0;
                background: conic-gradient(var(--secondary-color) 0deg,
                        var(--secondary-color) calc(var(--percentage) * 3.6deg),
                        var(--primary-color) calc(var(--percentage) * 3.6deg));
                border-radius: 50%;
                width: 8rem;
                aspect-ratio: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                h2 {
                    font-size: 1.5rem;
                    font-weight: 800;
                    z-index: 1;
                }
            }

            .improve-item-value::before {
                content: "";
                position: absolute;
                width: calc(100% - 3rem);
                aspect-ratio: 1;
                border-radius: 50%;
                background: var(--primary-background);
            }

            h3 {
                font-size: 1.25rem;
                font-weight: 600;
                text-wrap: nowrap;
            }
        }
    }
}

.subjects {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
        font-size: 2rem;
        font-weight: 900;
    }

    .subjects-list {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        justify-content: flex-start;
        align-items: center;

        .show-more {
            font-size: 1.25rem;
            color: var(--quaternary-color);
            font-weight: 600;
            width: 100%;
            padding: 1rem;
        }

        .subjects-item {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;

            .subjects-item-value {
                position: relative;
                transition: --percentage 1s ease-in-out;
                --percentage: 0;
                background: conic-gradient(var(--secondary-color) 0deg,
                        var(--secondary-color) calc(var(--percentage) * 3.6deg),
                        var(--primary-color) calc(var(--percentage) * 3.6deg));
                border-radius: 50%;
                width: 8rem;
                aspect-ratio: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                h2 {
                    font-size: 1.5rem;
                    font-weight: 800;
                    z-index: 1;
                }
            }

            .subjects-item-value::before {
                content: "";
                position: absolute;
                width: calc(100% - 3rem);
                aspect-ratio: 1;
                border-radius: 50%;
                background: var(--primary-background);
            }

            h3 {
                font-size: 1.25rem;
                font-weight: 600;
                text-wrap: nowrap;
            }
        }
    }
}

@media (prefers-reduced-motion: reduce) {

    #overview-result,
    .subjects-item-value,
    .improve-item-value {
        transition: none;
    }
}
