body {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    background-color: red;
}
