body {
    width: 100vw;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.materials-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;

    .materials-item {
        display: flex;
        flex-direction: column;
        background-color: var(--ternary-color);
        padding: 1rem;
        border-radius: 1rem;

        h3 {
            font-size: 1.5rem;
            font-weight: 600;
            text-wrap: nowrap;
        }
    }
}
