body {
    width: 100vw;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.materials-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;

    .materials-item {
        display: flex;
        flex-direction: column;
        background-color: var(--ternary-color);
        padding: 1rem;
        border-radius: 1rem;

        h3 {
            font-size: 1.5rem;
            font-weight: 600;
            text-wrap: nowrap;
        }
    }
}

#buy-popup {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-background);
        border-radius: 1rem;
        padding: 2rem;

        #buy-popup-title {
            font-size: 2.5rem;
            font-weight: 900;
            width: 100%;
            text-align: center;
        }

        #buy-popup-text {
            font-size: 1.5rem;
            font-weight: 600;
            width: 100%;
            text-align: left;
        }

        div {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            justify-content: center;

            button {
                border: none;
            }

            button:nth-child(1) {
                background-color: red;
            }
        }
    }
}
