body {
    width: 100vw;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
}
