body {
    width: 100vw;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.btn {
    border: none;
    width: 100%;
}

#practice-popup {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-background);
        border-radius: 1rem;
        padding: 1rem;
    }

    #practice-popup-title {
        font-size: 2rem;
        font-weight: 900;
        width: 100%;
        text-align: center;
        padding: 1rem;
    }

    #practice-popup-text {
        font-size: 1.25rem;
        font-weight: 600;
        width: 100%;
        text-align: center;
        padding: 1rem;
    }
}

.practice-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .practice-grid-item {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: center;

        span {
            font-size: 1.5rem;
            font-weight: 600;
        }

        .practice-grid-item-dot {
            width: 1rem;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid black;
            transition-duration: 0.1s;
        }

        input:checked+.practice-grid-item-dot {
            background-color: var(--primary-color);
            border: 2px solid var(--primary-color);
        }

        input {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.practice-buttons {
    display: grid;
    place-items: center;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;

    button:nth-child(2) {
        background-color: red;
        color: white;
        transition: background-color 0.2s ease-in-out;
    }

    button:nth-child(2):hover {
        background-color: darkred;
    }
}
