@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --primary-foreground: #000000;
    --primary-background: #DBECFC;
    --primary-color: #6CE5E8;
    --secondary-color: #40B8D5;
    --ternary-color: #A6D1FA;
    --quaternary-color: #14A4ED;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    transition: background-color 0.2s ease-in-out;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--primary-foreground);
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--primary-background);
    color: var(--primary-foreground);
    padding: 2rem;
}

main {
    padding: 2rem;
}
