body {
    width: 100vw;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
}

.error {
    align-self: center;
    background-color: red;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.25rem;
    width: fit-content;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;

    input {
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid black;
        font-size: 1.25rem;
        font-weight: 600;
    }

    button {
        border: none;
    }
}
